.DS_Store           
.ipynb_checkpoints/ 
*.pyc
LAMOST-K-Giants.ipynb
Upgraded-Mocks.ipynb
Cohen17_RRL.ipynb
Erkal-2020-Model.ipynb
get_rrlyrae_mast.py
Posterior-Plots-Original.ipynb
Satellites-Original.ipynb
QSO-Background.ipynb
data/*LAMOST*
data/*lamost*
processed/*sphere*
processed/*nearby*
processed/model*
figures/*
Sgr-Cleaning.ipynb
KGiants-Data.ipynb
Satellites.ipynb
BHB-Data.ipynb
